body{
    background-image: linear-gradient(to right, #5E66F2, #777CD9, #888df3);
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.box{
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image:linear-gradient(to right, #161b6d, #020981);
    border-radius: 10px;
    border: 0em;
    box-shadow: 5px 5px 15px #393c81;
    padding: 30px;
    font-size: 25px;
    cursor: pointer;
}
.b1{
    border-radius: 5px;
}
.b2{
    border-radius: 5px;
}
.btn1{
    cursor:pointer;
    color: black;
    border-radius: 5px;
    border: 0em;
    width: 5em;
    height: 1.8em;
}
.btn2{
    cursor: pointer;
    color: black;
    border-radius: 5px;
    border: 0em;
    width: 5em;
    height: 1.8em;
}
#email{
    border-radius: 5px;
    cursor:text;
    padding: 5px;
}
#senha{
    border-radius: 5px;
    cursor:text;
    padding: 5px;
}
#cont{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px;
    font-size: 20px;
}
#cont:hover{
    color: red;
    cursor: pointer;
}
#imagem{
    top: 1%;
    left: 1%;
    right: 1%;
    bottom: 1%;
}